<nav class="navbar navbar-default navbar-static-top navbar-inverse">
  <div class="container">
    <ul class="nav navbar-nav">
        <li class="active">
          <a href="/"><span class="glyphicon glyphicon-home"></span> Notes </a>
        </li>
        <li class="active">
        <a href="/Problem1"><span class="glyphicon glyphicon-th-list"></span> Task 1</a>
      </li>
      <li class="active">
        <a href="/Problem2"><span class="glyphicon glyphicon-shopping-cart"></span> Task 2</a>
      </li>

      <li class="active">
        <a href="/db"><span class="glyphicon glyphicon-film"></span> Task 3</a>
      </li>
</div>
</nav>
